doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Beom Movies 
    body
        header 
            h1=pageTitle
            block makingForm 
        main 
            block content