doctype html 
html(lang="ko")
  head 
    title #{siteTitle} | Wetube
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header 
      h1=pageTitle 
      nav 
        ul 
          li 
            a(href="/") Home 
          li 
            a(href="/upload") Upload 
          li 
            a(href="/search") Search 
    main 
      block content 
    include partials/footer.pug