extends base.pug

block content
  form(method="POST")
    input(type="text", placeholder="Title", name="title", value=`${movie.title}` required) 
    input(type="text", placeholder="summary", name="summary", value=`${movie.summary}`, required) 
    input(type="text", placeholder="year", name="year", value=`${movie.year}`, required) 
    input(type="text", placeholder="genres", name="genres", value=`${movie.genres}`, required) 
    input(type="submit", value="Upload Movie")
